*{
    margin: 0px;
}
.dashboard-layout{
    width: 100vw;
    /* height: 100vh; */
    background-color: #1A1A1D;
    overflow: scroll;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    /* margin: 10px; */
    position: sticky;
    top:0;
    z-index: 200;
    background-color: #1A1A1D;
}
.header-title{
    display:flex;
}
#watch{
    color: #FFF;
    font-family: Oswald;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#flix{
    color: #DA3714;
font-family: Oswald;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.header-menu{
    display: flex;
    gap: 80px;
}

.header-menu-item{
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.header-end{
    display: flex;
    gap: 40px;
}
/*main*/

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    position: relative;
    /* height: 80%; */
    /* overflow: scroll; */
}

.trending{
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 20px;
    gap: 5px;
    color: white;
    box-sizing: border-box;
}
.trending-movies{
    display: flex;
    gap: 10px;
    overflow: scroll;
    cursor: pointer;
}

.movie-details{
    position: absolute;
    top:100px;
    left: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    flex-wrap: wrap;
    gap: 10px;
}

.carousel-buttons{
    display: flex;
    gap: 20px;
    align-items: center;
}

.image:hover{
    scale:1.2;
}

/*categories*/
.categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    padding-left: 30px;
}

.category-item{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*footer*/
.footer{
    background: #111;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    gap: 20px;
    flex-wrap: wrap;
    position: static;
}

.connect-us,.manage,.information{
    display: flex;
    flex-direction: column;
    gap: 10px;
}  
.movie-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    width: 80vw;
}
.watch-movie-container{
    width: 80vw;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #DA3714;
}
.movie-details-buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 95%;
}
.movie-buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.movie-rating{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
.footer-item-head{
    color: #DA3714;
    font-family: Overpass;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer-item{
    color: #FFF;
    font-family: Overpass;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}